h1 {
  color: #086d6d;
  text-shadow: 1px 1px 1.5px grey;
}

.selected {
  color: #22bdf0;
}

.task-form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

label {
  font-size: 25px;
  text-shadow: 1px 1px 1.5px grey;
}

.low_priority {
  color:#1f9b23;
}

.medium_priority {
  color:#ffcc11;
}

.high_priority {
  color:#6d0808;
}
